.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
}

.logos {
    text-align:center;
    height: 20%;
    width: 20%;
}

.model {
    font-family: Verdana, Geneva, sans-serif !important;
}
